# Copia este archivo a .env y completa con tus valores locales

# Clave secreta para sesiones 
SECRET_KEY=tu_clave_secreta_aqui

# URL de conexión a la base de datos
# MySQL: mysql+pymysql://usuario:contraseña@host:puerto/base_datos
# PostgreSQL: postgresql://usuario:contraseña@host:puerto/base_datos
# SQLite: sqlite:///nombre_archivo.db
DATABASE_URL=mysql+pymysql://usuario:contraseña@127.0.0.1/cloud_brew

//Anadir para el uso correcto de MYSQLDUMP
DATABASE_NAME=cloud_brew
USER_NAME=usuario
PASSWORD=contraseña
MYSQLDUMP_PATH=C:\Program Files\MySQL\MySQL Server 8.0\bin\mysqldump.exe
MYSQL_PATH=C:\Program Files\MySQL\MySQL Server 8.0\bin\mysql.exe
# Configuración de correo electrónico (Flask-Mail)
# Servidor SMTP (ej. smtp.gmail.com para Gmail, smtp.office365.com para Outlook)
MAIL_SERVER=smtp.gmail.com
# Puerto SMTP (587 para TLS, 465 para SSL)
MAIL_PORT=587
# Usar TLS (True/False)
MAIL_USE_TLS=True
# Tu dirección de correo (remitente)
MAIL_USERNAME=tu_correo@gmail.com
# Contraseña de la cuenta o App Password (para Gmail con 2FA)
MAIL_PASSWORD=tu_contrasena_o_app_password
# Dirección que aparecerá como remitente en los correos
MAIL_DEFAULT_SENDER=tu_correo@gmail.com

# URL base de la aplicación (para generar los enlaces de recuperación)
BASE_URL=http://localhost:5000
