# Entornos virtuales
/env
venv/
ENV/

/migrations

# Dependencias
/node_modules
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.pytest_cache/

# IDE
/.vscode
.idea/
*.swp
*.swo

# Configuración
.env
.env.local

# Logs
*.log

# Base de datos
*.sqlite
*.sqlite3
*.db


# Sistema
.DS_Store
Thumbs.db