{% extends "base.html" %}

{% block content %}
<!-- Header -->
<div class="p-6 max-w-3xl mx-auto">
  <div class="flex items-center gap-3 mb-6">
    <a href="{{ url_for('usuarios.index') }}"
        class="text-gray-500 hover:text-gray-800 text-xl  font-bold">
        <
    </a>
    <h2 class="text-2xl font-bold text-gray-800">
      Detalle del Usuario
    </h2>
    <p class="text-sm text-gray-500"></p>
</div>
<form method="POST" action="{{ url_for('usuarios.modificar', id=usuario.id) }}" class="max-w-3xl mx-auto mt-10 bg-white border border-gray-200 rounded-2xl shadow-sm">
  {{ form.hidden_tag() }}
  <div class="bg-gray-100 px-0 py-0 border-b border-gray-200">
    <span class="font-bold text-gray-700 block p-4"><i class="fa-solid fa-circle-info mr-2"></i> Datos Registrados</span>
  </div>

  <div class="p-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-700">
          Nombre
        </label>
        {{ form.nombre(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5") }}
        {% for error in form.nombre.errors %}
          <p class="text-sm text-red-500 mt-1">{{ error }}</p>
        {% endfor %}
      </div>
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-700">
          Email
        </label>
        {{ form.email(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5") }}
        {% for error in form.email.errors %}
          <p class="text-sm text-red-500 mt-1">{{ error }}</p>
        {% endfor %}
      </div>
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-700">
          Password
        </label>
        {{ form.password(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5") }}
        {% for error in form.password.errors %}
          <p class="text-sm text-red-500 mt-1">{{ error }}</p>
        {% endfor %}
      </div>

      <div>
        <label class="block mb-2 text-sm font-medium text-gray-700">
          Confirmar Password
        </label>
        {{ form.confirm_password(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5") }}
        {% for error in form.confirm_password.errors %}
          <p class="text-sm text-red-500 mt-1">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="md:col-span-2">
        <label class="block mb-2 text-sm font-medium text-gray-700">
          Rol
        </label>
        {{ form.rol(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5") }}
        {% for error in form.rol.errors %}
          <p class="text-sm text-red-500 mt-1">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="flex gap-4 pt-4 items-center">
      <button type="submit"
        class="flex-1 text-white bg-blue-600 hover:bg-blue-700 rounded-lg text-sm px-5 py-2.5 font-medium">
        Guardar cambios
      </button>

      <form method="POST" action="{{ url_for('usuarios.eliminar', id=usuario.id) }}">
        {{ form.hidden_tag() }}
        <button type="submit"
          class="text-white bg-red-600 hover:bg-red-700 rounded-lg text-sm px-4 py-2 font-medium">
          Eliminar
        </button>
      </form>
    </div>
  </div>
</form>

<div class="mt-6 text-right">
</div>

{% endblock %}