{% extends "base.html" %}

{% block content %}

<div class="p-6 max-w-3xl mx-auto">

  <div class="flex items-center gap-3 mb-6">
    <a href="/procprod "
       class="text-2xl font-bold text-gray-800">
      <
    </a>
    <h2 class="text-2xl font-bold text-gray-800">
      Agregar Proceso Productivo
    </h2>
    <p class="text-sm text-gray-500">
    </p>
  </div>

  <form action="{{ url_for('proc_prod.insertar') }}" method="POST" class="max-w-3xl mx-auto mt-10 bg-white border border-gray-200 rounded-2xl shadow-sm">
    {{ form.hidden_tag() }}
    <div class="bg-gray-100 px-0 py-0 border-b border-gray-200">
      <span class="font-bold text-gray-700 block p-4"><i class="fa-solid fa-circle-info mr-2"></i> Datos a Registrar</span>
    </div>
    <div class="p-8">
      <div>
        <label class="block mb-2 text-sm font-medium text-gray-700">
          {{ form.nombre.label }}
        </label>
        {{ form.nombre(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5") }}
        {% for error in form.nombre.errors %}
          <p class="text-sm text-red-500 mt-1">{{ error }}</p>
        {% endfor %}
      </div>

      <div>
        <label class="block mb-2 text-sm font-medium text-gray-700">
          {{ form.descripcion.label }}
        </label>
        {{ form.descripcion(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", rows="4") }}
        {% for error in form.descripcion.errors %}
          <p class="text-sm text-red-500 mt-1">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="flex justify-between items-center pt-4">
        <button type="submit"
          class="flex-1 px-5 py-2.5 text-white bg-green-600 hover:bg-green-700 rounded-lg text-sm font-medium">
          Insertar
        </button>
        <a href="{{ url_for('proc_prod.index') }}"
          class="flex-1 px-5 py-2.5 text-center text-gray-700 bg-gray-200 hover:bg-gray-300 rounded-lg text-sm font-medium">
          Cancelar
        </a>
      </div>
    </div>
  </form>

</div>

{% endblock %}